model_config_list: {
  config: {
    name: "norm",
    base_path: "/home/ubuntu/ai_model/server/models/norm",
    model_platform: "tensorflow"
    model_version_policy {
      specific {
        versions: 1
      }
    } 
  }
  config: {
    name: "cold",
    base_path: "/home/ubuntu/ai_model/server/models/cold",
    model_platform: "tensorflow" 
    model_version_policy {
      specific {
        versions: 1
      }
    }
  }
}